''@CHARSET "ISO-8859-1";
@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
@font-face{
	font-family: sans-serif;
}
body{
 	background-color: #b9d8ee;
 	font-family: Arial, sans-serif;
	color: rgba(0,0,0,1);
} 

hgroup {
	margin-top: 70px;
}

input.botoes {
	width: 100px;	
	height: 35px;
	margin-top: 5px;
}

fieldset {
	width: 500px;
	font-size: 11pt;
}
div#logo{
	float: right;
	margin-right: 20%;
}
