@CHARSET "ISO-8859-1";
@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
@font-face{
	font-family: sans-serif;
}

body{
 	background-color: #b9d8ee;
 	font-family: Arial, sans-serif;
	color: rgba(0,0,0,1);
} 
/*-------------------------------------------------------- Formatação do LOGO*/
section div#logo {
	heigth: 500px;
	width: 497px;
	margin: 70px auto;
}