@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Titillium+Web';
@font-face{
	font-family: sans-serif;
}

header{
 	background: #373737;
 	text-align: center;
 	height: 35px; 
 	color: white;
 	font-size: 25pt;
 	 box-shadow: 1px 1px 4px black;
} 
header nav {
 	 font-size: 13pt;
} 
/*---------------------------------------------------------- Formatação do menu*/
nav#menu {
	display: block;
	border-bottom: 1px solid black;
}
nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 30px;
	left: -34px;
}
nav#menu li {
	display: inline-block;
	background-color: #595959;
	padding: 5px;
	margin: 2px;
	transition: background-color 0.4s;
}
nav#menu h1{
	display: none;
}
nav#menu li:hover{
	background-color: #8080ff;
}
nav#menu a {
	color: #ffffff;
	text-decoration: none;
}
nav#menu a:hover{
	color: #ffffff;
	text-decoration: underline;
}
/*---------------------------------------------------------- Formatação do botao*/
form button {
	position: relative;
	top: 20px;
}
form button:hover{
	background: red;
}
/*--------------------------------------------------------- Formatação do rodapé*/
footer {
	background: #373737;
	color: white;
	text-align: center;
	margin-top: 0px;
	font-size: 9pt;
	box-shadow: 1px 1px 4px black;
}

footer p a{
	color: white;
}

/*------------------------------------------Menu dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #373737;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    font-size: 10pt;
    text-align: left;

}

.dropdown:hover .dropdown-content {
    display: block;
	cursor: pointer;
}














